.InfoSeason{
    margin: 0px 145px;
    bottom: 745px;
    font-size: 20px;
    font-weight: 300;
    position: absolute;
}
.InfoStage{
    margin: 0px 160px;
    bottom: 720px;
    font-size: 20px;
    font-weight: 300;
    position: absolute;
}
.InfoBank {
    margin: 0px 20px;
    bottom: 75px;
    font-size: 25px;
    font-weight: 300;
    position: absolute;
}